@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap");

:root {
	--gray: #101010;
	--knight: #ff9d00;
	--rogue: #3bcf00;
	--mage: #4aeaff;
	--border: 2px solid #fff;
	--radius: 1rem;
	--transition: all 0.2s linear;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
}

body {
	height: fit-content;
	width: 100vw;
	padding: 2rem 0;
	color: #fff;
	background-color: #3e2756;
	overflow-x: clip;
}

section {
	max-width: 1100px;
	margin: auto;
}

/* global headings */
h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h1,
h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5rem;
}

/* all btns */
button {
	cursor: pointer;
	transition: var(--transition);
}

button:active {
	scale: 1.1;
}

button:hover {
	background-color: #000;
	box-shadow: 0 0 0.5rem 0 #fff;
}

/* scoreboard */
.scoreboard {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

/* media query min-width 600px */
@media (min-width: 600px) {
	.select-hero-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.hero-card {
		width: 31%;
		flex-direction: column;
	}

	.stun-icon {
		height: 4rem;
		width: 4rem;
	}
}
