@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Exo 2", Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	padding: 2rem 0;
	color: #fff;
	background-color: #3e2756;
	overflow-x: clip;
}

/* global headings */
h1 {
	text-align: center;
}

/* scoreboard */
.scoreboard {
	position: fixed;
	top: 2rem;
	right: 1rem;
}
