.select-hero-container {
	width: 100%;
    margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-card {
	cursor: pointer;
	width: 90%;
	margin: 0.5rem 0;
	padding: 1rem;
	text-align: center;
	background-color: var(--blue);
	border-radius: var(--radius);
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: var(--transition);
}

.hero-card.knight:hover,
.hero-card.knight.chosen {
	box-shadow: 0 0 0.75rem 0 var(--knight);
}

.hero-card.rogue:hover,
.hero-card.rogue.chosen {
	box-shadow: 0 0 0.75rem 0 var(--rogue);
}

.hero-card.mage:hover,
.hero-card.mage.chosen {
	box-shadow: 0 0 0.75rem 0 var(--mage);
}

.hero-card img {
	max-height: 9rem;
}

.class-title {
    font-size: 1.5rem;
	font-weight: 500;
}

.hero-text p {
	margin: 0.25rem 0;
    /* font-size: 0.9rem; */
}


.name-input {
    width: 100%;
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 300;
}

.name-input input {
    margin-left: 0.5rem;
    padding: 0.25rem 0.75rem;
    color: #fff;
    background-color: var(--blue);
    border: 1px solid var(--orange);
    border-radius: var(--radius);
}

.name-input input:focus {
    outline: var(--border);
}

.name-input input::placeholder {
    color: #aaa;
}

.start-btn {
	padding: 0.5rem 1rem;
	color: #fff;
	background-color: transparent;
	border-radius: var(--radius);
}

.start-btn:disabled {
	text-decoration: line-through;
	background-color: #303030;
}
