.battlefield {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

/* cards */
.card {
	height: 20rem;
	width: 45%;
	padding: 1rem 0;
	background-color: var(--gray);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.card img {
	height: 10rem;
}

.skill-btns {
	width: 100%;
	margin: 1rem auto;
	text-align: center;
}

.skill-btns button {
	cursor: pointer;
	height: 7rem;
	width: 7rem;
	margin: 0 1rem;
	font-size: 1rem;
	color: #fff;
	background-color: var(--gray);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: var(--border);
	border-radius: 50%;
	text-shadow: 0 0 0.5rem #000;
}

.skill-btns button:disabled {
	background-color: #bd0000;
}

.attack-btn {
	background-image: url("../assets/sword.png");
}

.skill-btn.knight {
	background-image: url("../assets/shield.png");
}

.skill-btn.rogue {
	background-image: url("../assets/smoke-bomb.png");
}

.skill-btn.mage {
	background-image: url("../assets/ice-shard.png");
}
