.battlefield {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.skill-btns {
	width: 100%;
	margin: 2rem auto;
	text-align: center;
}

.skill-btns button {
	cursor: pointer;
	height: 8rem;
	width: 8rem;
	margin: 1rem;
	font-size: 1.25rem;
	color: #fff;
	background-color: #101010;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #fff;
	border-radius: 50%;
	text-shadow: 0 0 0.5rem #000;
}

.skill-btns button:disabled {
	background-color: #c20101;
}

.attack-btn {
	background-image: url("../assets/sword.png");
}

.skill-btn.knight {
	background-image: url("../assets/shield.png");
}

.skill-btn.rogue {
	background-image: url("../assets/smoke-bomb.png");
}

.skill-btn.mage {
	background-image: url("../assets/ice-shard.png");
}
