.monster {
	position: relative;
}

.monster.turn {
	box-shadow: 0 0 0.5rem 0 #ff0202;
}

.monster-img {
	height: 8rem;
	margin: 1rem 0;
}

.stun-icon {
	height: 2rem;
	width: 2rem;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
