.player-card {
	height: fit-content;
	width: 45%;
	margin: 1rem auto;
	padding: 1rem 2rem;
	text-align: center;
	background-color: var(--gray);
	border-radius: var(--radius);
	box-shadow: 0 0 0.5rem 0 #00eeff;
}

.player-card img {
	max-width: 100%;
	margin: 1rem 0;
}
