.select-hero-container {
	height: fit-content;
	width: 90%;
	margin: 2rem auto;
	padding: 2rem 0;
	border: 2px solid white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.select-hero-container h2 {
	width: 100%;
	margin-bottom: 2rem;
	text-align: center;
}

.hero-card {
	cursor: pointer;
	padding: 1rem 2rem;
	text-align: center;
	border: 2px solid lime;
}
