.battlefield {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* cards */
.card {
	height: 20rem;
	width: 47%;
    max-width: 450px;
    text-align: center;
	padding: 1rem 0;
	background-color: var(--blue);
    border: 1px solid #a9a9a960;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.card img {
	max-height: 10rem;
}

.health {
	width: 90%;
	text-align: center;
    padding: 0.2rem;
	border: 1px solid #fff;
    border-radius: var(--radius);
}

/* skill btns */
.skill-btns {
	width: 100%;
	margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-btns button {
	cursor: pointer;
	height: 6rem;
	width: 6rem;
	margin: 0 1rem;
	font-size: 1rem;
	color: #fff;
	background-color: var(--blue);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: var(--border);
	border-radius: 50%;
	text-shadow: 0 0 0.5rem #000;
}

.skill-btns button:disabled {
	background-color: #bd0000;
}

.attack-btn {
	background-image: url("../images/sword.png");
}

.skill-btn.knight {
	background-image: url("../images/shield.png");
}

.skill-btn.rogue {
	background-image: url("../images/smoke-bomb.png");
}

.skill-btn.mage {
	background-image: url("../images/ice-shard.png");
}
