.combat-log {
	height: 10rem;
	width: 90%;
    max-width: 800px;
    margin-top: 1rem;
	padding: 1rem;
	background-color: #000;
	border: var(--border);
	border-radius: 1rem;
	overflow-y: scroll;
}

.combat-log h3 {
	text-align: center;
	margin-bottom: 0.5rem;
}

.combat-log p {
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
}

.combat-log::-webkit-scrollbar {
	width: 10px;
	border-radius: var(--radius);
}

.combat-log::-webkit-scrollbar-track {
	background-color: var(--midnight);
	border: 1px solid var(--orange);
	border-radius: var(--radius);
}

.combat-log::-webkit-scrollbar-thumb {
	background-color: var(--blue);
	border-radius: var(--radius);
}
