.guide-btn,
.hoh-btn {
	color: #fff;
	background-color: var(--midnight);
	border-radius: var(--radius);
}

.guide-btn {
	padding: 0.2rem 0.4rem;
	font-weight: 300;
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
}

.hoh-btn {
	margin: 1rem auto;
	padding: 0.5rem 1rem;
}

.guide,
.hoh {
	display: none;
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem 1rem;
	background-color: var(--midnight);
	border: var(--border);
	position: absolute;
	left: 0;
	right: 0;
	z-index: 99;
}

.guide.open,
.hoh.open {
	display: block;
}

.guide-close,
.hoh-close {
	height: 2rem;
	width: 2rem;
	color: #fff;
	background-color: transparent;
	border-radius: var(--radius);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.guide h3,
.guide h4,
.hoh h3,
.hoh p,
th,
td {
	text-align: center;
}

.guide p,
.hoh p,
.guide ul,
.hoh table {
	width: 90%;
	margin: 0 auto 1rem auto;
}

.guide ul li {
	list-style-type: square;
	margin-top: 0.2rem;
}

.hoh table {
	border-collapse: collapse;
}

th,
td {
	padding: 0.5rem 0 0.25rem 0;
	border-bottom: 1px solid var(--orange);
}
