.player h3 {
    font-weight: 400;
}

.player.knight.turn {
	box-shadow: 0 0 0.75rem 0 var(--knight);
}

.player.rogue.turn {
	box-shadow: 0 0 0.75rem 0 var(--rogue);
}

.player.mage.turn {
	box-shadow: 0 0 0.75rem 0 var(--mage);
}

.player img {
	max-width: 100%;
}
